:root {
  --light-color: #ebecd0;
  --dark-color: #739552;
  --board-size: 8;
  /* --highlight-color: #f39c12; */
  /* --font-size: 16px; */
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: #302e2b;
  /* background-color: white; */
}

#chessboard {
  display: grid;
  grid-template-columns: repeat(
    var(--board-size),
    50px
  ); /* 8 columns, each 50px wide */
  grid-template-rows: repeat(
    var(--board-size),
    50px
  ); /* 8 rows, each 50px tall */
  border-radius: 3px;
  overflow: hidden; /* Ensures that the squares inside the grid do not stick out beyond the rounded corners. */
}

.square {
  width: 50px;
  height: 50px;
  display: flex;
  position: relative;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

.square-label {
  position: absolute; /* Allows precise positioning within the square */
  /* bottom: 0px; /* Pushes the text to the bottom of the square */ */
  /* left: 20px; /* Pushes the text to the left side of the square */ */
  z-index: 2; /* Ensures the text appears above the image */
  font-size: 12px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.6); /* Semi-transparent text color */
  user-select: none;
}

.light-square {
  background-color: var(--light-color);
}

.dark-square {
  background-color: var(--dark-color);
}

.square-label.light {
  color: var(--dark-color);
}

.square-label.dark {
  color: var(--light-color);
}

.bottom-right {
  bottom: 0;
  right: 2px;
}

.top-left {
  top: 2px;
  left: 2px;
}

img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  user-select: none;
  transform: scale(0.9);
}

.possible_move {
  width: 15px;
  height: 15px;
  background-color: yellow;
  border-radius: 50%;
  pointer-events: none;
}

.possible_capture {
  width: 90%;
  height: 90%;
  border: 2px solid yellow;
  border-radius: 50%;
  position: absolute;
  pointer-events: none;
}


/* Button Styling */
#reset_button {
  background-color: #4CAF50; /* Green background */
  color: white;              /* White text */
  font-size: 16px;           /* Medium font size */
  padding: 12px 16px;        /* Add padding for better button size */
  margin-left: 15px;
  border: none;              /* Remove default border */
  border-radius: 8px;        /* Rounded corners */
  cursor: pointer;          /* Change cursor to pointer */
  transition: all 0.3s ease; /* Smooth transition for hover effects */
}

/* Button hover effect */
#reset_button:hover {
  background-color: #45a049; /* Darker green on hover */
  transform: scale(1.05);     /* Slightly enlarge the button */
}

/* Focus state (when clicked) */
#reset_button:focus {
  outline: none;             /* Remove default outline */
  box-shadow: 0 0 10px rgba(72, 217, 133, 0.8); /* Soft glow */
}
